/* header */
header{
    max-width: 100vw;
    min-width: max-content;
    background-color: #DDB2FF;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_name{
    color: white;
    font-family: "inika";
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    padding: 1rem;
    border-radius: 0%;
    border-style:dotted;
    margin-inline: 12rem;
}

.signin_category{
    display:flex;
    align-items: center;
    gap: 3rem;
    font-size: 1rem;
    color: #8000FF;
    flex-shrink: 0;
}

.signin_category div a{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.search_icons{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    flex:1;
}

.icons{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    padding: 0 1rem;
    flex:1;
}

.icons img{
    height:1rem;
}

.searchbar{
    display: flex;
    align-items: center;
    flex:1; 
    width: 100%;
}

.searchbar input{
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #8000FF;
    height: 2rem;
    background: #f1f1f1;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    min-width: 10rem;    
    }

.searchbar input::placeholder{
    font-family: "montserrat";
    color: #A2A2A2;
}

.searchbar input:hover{
    opacity: 0.5;
}


.searchbar input:active{
    background-color: #cf9eff;
}

.searchbar button {
    float: right;
    cursor: pointer;
    background: #8000FF;
    color: white;
    border: none;
    cursor: pointer;
    height:2rem;
    width: 2rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border: none;
    padding: 0.25rem;
    align-content: center;
}

.searchbar img{
    height: 1rem;
    margin-right: 2px;
    margin-top: 1px;
}    







.section{
    margin-block: 3rem;
    max-width: 100vw;
}

.heading{
    color: #A342FF;
    font-weight: 600;
    font-size: 2rem;
    margin-left: 2rem;
    text-decoration: underline;
}

.container{
    margin: 1rem 2rem;
    display: flex;
    /* flex-wrap: wrap; */
    overflow-x: scroll;
    overflow: auto;
    gap: 4rem;
}

.display{
    display: flex;
    flex-direction: column;
    margin-block: 1rem;
    min-width:12rem;
    min-height: 15rem;
    max-width: 15rem;
    box-shadow: 0px 0px 0.5rem rgba(0,  0, 0, 0.25 );
}

.display a{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 1s;
}

.product {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.img button img{
    position: absolute;
    top: 1rem;
    left: 1rem;
    height: 1.3rem;
    width: 1.5rem;
}

.img button:active img{
    height: 2.5rem;
    width: 2.7rem;
}

.product:hover {
    opacity: 0;
}

.text{
    width:100%;
    border: 3px solid transparent;
    display: flex;
    align-items: center;
    gap: 3rem;
    justify-content: space-around;
    padding: 0.5rem 0.25rem;
}

.description{
    display: flex;
    flex-direction: column;
}

.Brand{
    color: black;
    font-weight: 600;
}

.item_name{
    color: grey;
}

.price{
    color: black;
} 








/* sale */
.display{
    position: relative;
}

.sale_text .description{
    background-color: rgb(196, 34, 34);
    padding: 0.5rem 2rem;
    opacity: 90%;
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    margin: auto;
}
 
.Discount{
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    color: white;
}

.sale_text .item_name{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1rem;
}
    

.sale_product:hover{
    opacity: 0.7;
}








.local_market{
    margin: 3rem 2rem;
    max-width: 100vw;
    display: grid;
    grid-template-columns: 250px 1fr;
}

.local_display{
    display: flex;
    flex-direction: column;
    margin-block: 1rem;
    min-width:12rem;
    min-height: 15rem;
    max-width: 15rem;
    box-shadow: 0px 0px 0.5rem rgba(0,  0, 0, 0.25 );
}

.local_container{
    margin: 1rem 2rem;
    display: flex;
    overflow-x: scroll;
    overflow: auto;
    gap: 4rem;
}
    

.text_button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text_button div p{
    font-weight: 700;
    font-size: 20px;
}

.text_button a{
    font-size: 12px;
    letter-spacing: 1px;
    color: white;
    background-color: #A342FF;
    border-radius: 18px;
    border: none;
    padding:12px 10px;
    margin: 5px 0px;
}

    



/* footer */
.footer{
    background-color: #DDB2FF; 
    padding: 2 rem;
    text-align: center;
    height: 5rem;
    padding: 1rem;
}

.footer a{
    color: white;
    font-size: 2rem;
    font-weight: 600;
    text-decoration: underline;
}


.faq{
    min-height: 100vh;
    background-color: #d49dff;
    max-width: 100vw;
}

.faq .heading{
    color: white;
    font-size: 3rem;
    text-align: center;
    text-decoration: underline;
}

.question{
    margin: 2rem;
}

.question h2{
    margin-block: 1rem;
}

.dropdown{
    display: none;
}

.question:hover .dropdown{
    display: block;
}



.page2container{
    margin: 2rem;
    display: flex;
    justify-content: left;
    gap: 3rem;
    align-items:flex-start;
}

.productimg{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
} 

.productimg img{
    max-height: 25rem;
}

.producttext{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.productinfo{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #3d1368;
}

.viewcontainer{
    display: flex;
    gap: 0.5rem;
    margin-block: 1rem;
}

.views{
    color: red;
    font-weight:600 ;
}

.size{
    font-size: 2rem;
    color: black;
    font-weight: 500;
}

.buttoncontainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: left;
    gap: 1rem;
}

.buttoncontainer button{
    color: white;
    background-color: #8000FF;
    height: 3rem;
    width: 3rem;
    border-radius: 1.5rem;
}


.page2_section{
    margin-block: 3rem;
    max-width: 100vw;
    align-content: center;
    text-align: center;
}

.productdetails p{
    font-weight: 600;
    color: #202020;
}

.productdetails h2{
    margin: 1rem 0rem 0.5rem 0rem;
}

.pg2buttoncontainer{
    display: flex;
    gap: 2rem;
    justify-content: left;
}

.pg2buttoncontainer button{
    padding: 1rem;
    background-color: #8f20ff;
    color: white;
    font-size: 1rem;
    border-radius: 8px;
}

.page2_heading{
    color: #8000FF;
    font-weight: 600;
    font-size: xx-large;
}

.product_container{
    margin-inline: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5rem;
}